
<section>
    <form id="ClientForm">

        <div class="form-group">
            <label for="FormName">Nome</label>
            <input type="text" value="hehe" class="form-control" id="FormName" placeholder="Fulano de Tal">
        </div>

        <div class="form-group">
            <label for="FormCPF">CPF</label>
            <input type="text" class="form-control" id="FormCPF" placeholder="123.456.789.11">
        </div>

        <div class="form-group">
            <label for="FormDateBorn">Data de Nascimento</label>
            <input type="date" class="form-control" id="FormDateBorn" placeholder="">
        </div>

        <div class="form-group">
            <label for="FormRenda">Renda Familiar</label>
            <input type="number" class="form-control" id="FormRenda" placeholder="723">
        </div>

        <button type="submit" id="btnPost" class="btn btn-primary">Register</button>

    </form>
</section>