
<section>
    <div class="card">

        <div class="card-body row justify-content-between">

            <div class="bg-white col-4 mx-1">
                <h5 class="card-title">Clientes</h5>

                <div class="row justify-content-around">

                    <div class="card-text">
                        <p class="card-text">100</p>
                    </div>
                    <ul>
                        <li>Classe A: 10</li>
                        <li>Classe B: 20</li>
                        <li>Classe C: 40</li>
                    </ul>

                </div>

            </div>

            <div class="bg-white col-3 mx-1">
                <h5 class="card-title">Maior Que 18</h5>
                <p class="card-text">50</p>
            </div>

            <div class="bg-white col-3 mx-1">
                <h5 class="card-title">
                    Maior que 18 anos e com Renda maior que a media
                </h5>
                <p class="card-text">20</p>
            </div>


        </div>

    </div>
</section>